<form (ngSubmit)="onSubmit()" id="registerForm">
  <fieldset>
    <legend>Register Form</legend>
    <div class="label-input">
      <input
        id="input-email"
        type="text"
        [formControl]="email"
        placeholder="e.g: someone@email.com"
        required
      />
      <div class="label-error-wrapper">
        <label id="label-email" for="input-email"> Email.</label>
        <span role="alert" class="error">
          {{ email.errors | errorsMessagePipe: errorMessages.email }}
        </span>
      </div>
    </div>

    <div class="label-input">
      <input
        id="input-password"
        type="password"
        [formControl]="password"
        placeholder="e.g: Password123"
        required
      />
      <div class="label-error-wrapper">
        <label id="label-password" for="input-password"> Password. </label>
        <span role="alert" class="error">
          {{ password.errors | errorsMessagePipe: errorMessages.password }}
        </span>
      </div>
    </div>

    <div class="label-input">
      <input
        id="input-confirmPassword"
        type="password"
        [formControl]="confirmPassword"
        placeholder="e.g: Password123"
        required
      />
      <div class="label-error-wrapper">
        <label id="label-confirmPassword" for="input-confirmPassword">
          Password confirmation.
        </label>
        <span role="alert" class="error">
          {{
            confirmPassword.errors
              | errorsMessagePipe: errorMessages.confirmPassword
          }}
        </span>
        <span
          role="alert"
          [class.error]="
            (
              confirmPassword.errors
              | confirmPasswordPipe: password.value : confirmPassword.value
            ).includes('not confirmed')
          "
          [class.ok]="
            !(
              confirmPassword.errors
              | confirmPasswordPipe: password.value : confirmPassword.value
            ).includes('not confirmed')
          "
        >
          {{
            confirmPassword.errors
              | confirmPasswordPipe: password.value : confirmPassword.value
          }}
        </span>
      </div>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="
          email.errors ||
          password.errors ||
          confirmPassword.errors ||
          password.value !== confirmPassword.value
        "
      >
        Register
      </button>
      <span class="error">{{ registerFail }}</span>
    </div>
  </fieldset>
</form>
