<fieldset>
  <form [formGroup]="register" (ngSubmit)="onSubmit()" id="registerForm">
    <div class="label-input">
      <div>
        <label id="label-email" for="input-email"> Email: </label>
        <span role="alert" class="error">
          {{ email?.errors | errorsMessagePipe: errorMessages.email }}
        </span>
      </div>
      <input id="input-email" type="text" formControlName="email" required />
    </div>

    <div class="label-input">
      <div>
        <label id="label-username" for="input-username"> Username: </label>
        <span role="alert" class="error">
          {{ username?.errors | errorsMessagePipe: errorMessages.username }}
        </span>
      </div>

      <input
        id="input-username"
        type="email"
        formControlName="username"
        required
      />
    </div>

    <div class="label-input">
      <div>
        <label id="label-password" for="input-password"> Password: </label>
        <span role="alert" class="error">
          {{ password?.errors | errorsMessagePipe: errorMessages.password }}
        </span>
      </div>

      <input
        id="input-password"
        type="password"
        formControlName="password"
        required
      />
    </div>

    <div class="label-input">
      <div>
        <label id="label-confirmPassword" for="input-confirmPassword">
          Password confirmation:
        </label>
        <span role="alert" class="error">
          {{
            confirmPassword?.errors
              | errorsMessagePipe: errorMessages.confirmPassword
          }}
        </span>
        <span
          role="alert"
          [class.error]="
            (
              confirmPassword?.errors
              | confirmPasswordPipe: password?.value : confirmPassword?.value
            ).includes('not confirmed')
          "
          [class.ok]="
            !(
              confirmPassword?.errors
              | confirmPasswordPipe: password?.value : confirmPassword?.value
            ).includes('not confirmed')
          "
        >
          {{
            confirmPassword?.errors
              | confirmPasswordPipe: password?.value : confirmPassword?.value
          }}
        </span>
      </div>

      <input
        id="input-confirmPassword"
        type="password"
        formControlName="confirmPassword"
        required
      />
    </div>

    <div>
      <button
        type="submit"
        [disabled]="
          !register.valid ||
          email?.errors ||
          username?.errors ||
          password?.errors ||
          confirmPassword?.errors ||
          password?.value !== confirmPassword?.value
        "
      >
        Register
      </button>
    </div>
  </form>
</fieldset>
