<form (ngSubmit)="onSubmit()">

  <fieldset>

    <section>
      <label for="input-login">
        Email
      </label>

      <div class="field-button">
        <input
          class="field"
          id="input-login"
          type="text"
          [formControl]="login"
          (keyup)="onLoginUpdate()"
          required
          [style.border-color]="login.dirty && login.errors ? 'red' : !login.errors ? 'green' : 'grey'"
        />

        <button *ngIf="login.errors || showNextButton" type="button" (click)="toggleNext()" [disabled]="login.errors">Next</button>
      </div>
    </section>

    <ul *ngIf="login.errors || showNextButton" role="group" class='error'>
      <li [class.ok]="!login.errors?.required">{{ errorMessages.login.required }}</li>
      <li [class.ok]="!login.errors?.required && !login.errors?.minlength">{{ errorMessages.login.minlength }}</li>
      <li [class.ok]="!login.errors?.required && !login.errors?.email">{{ errorMessages.login.email }}</li>
    </ul>

    <ng-container *ngIf="!login.errors && !showNextButton">
      <section>
        <label for="input-password">
          Password
        </label>  
        <div class="field-button">
          <input
            class="field"
            id="input-password"
            type="{{ showPassword ? 'text' : 'password' }}"
            [formControl]="password"
            placeholder="Password"
            required
            [style.border-color]="password.dirty && password.errors ? 'red' : !password.errors ? 'green' : 'grey'"
          />
          <button id="show-password" type="button" (click)="togglePassword()">
            {{ showPassword ? 'Hide' : 'Show' }}
          </button>
        </div>
        <a href="#">Forgot password?</a>
      </section>
      <ul *ngIf="password.errors" class='error'>
        <li [class.ok]="!password.errors.required">{{ errorMessages.password.required }}</li>
        <li [class.ok]="!password.errors.required && !password.errors.minlength">{{ errorMessages.password.minlength }}</li>
        <li [class.ok]="!password.errors.required && !password.errors.pattern">{{ errorMessages.password.pattern }}</li>
      </ul>
    </ng-container>

    <section *ngIf="!login.errors && !password.errors">
      <button type="submit">Login</button>
      <span>
        <input type="checkbox" id="remember-me" [formControl]="rememberMe" />
        <label for="remember-me">Remember me</label>
      </span>
      <span class="error" role="alert">{{ loginFail }}</span>
    </section>

  </fieldset>
</form>
