$silver: #d6d6d6;
$grey: #86868b;
$red: #de071c;
$light-pink: #fef0f0;

$default-dark-green: rgb(52, 199, 89);
$default-light-green: rgb(48, 209, 88);
$accessible-light-green: rgb(48, 219, 91);
$accessible-dark-green: rgb(36, 138, 61);

$white-cultured: #f9f9f3;
$pastel-red: #ffd1d1;
$pastel-yellow: #fbffde;
$pastel-green: #d7fddf;
$pastel-blue: #e0fffd;
$pastel-purple: #d0d0fe;
$pastel-lavender: #f9deff;

$dark-scarlet: #910d09;
$dark-green: #18392b;
$dark-blue: #0a2472;
$dark-purple: #4a006a;

$warning: red;

$light-background-color: #ffffff;
$light-color: #333333;

$dark-background-color: #121212;
$dark-color: #f0f0f0;

// -- Canvas -- //

$light-canvas-background-color: #fafafa;
$light-canvas-color: #333333;
$light-canvas-border-color: #cccccc;
$light-canvas-gutter-background-color: #e0e0e0;
$light-canvas-gutter-color: #999999;

$dark-canvas-background-color: #282923;
$dark-canvas-color: #f8f8f2;
$dark-canvas-border-color: #42433f;
$dark-canvas-gutter-background-color: #20211c;
$dark-canvas-gutter-color: #999999;

// -- Panels -- //

$light-panel-background-color: #f0f0f0;
$light-panel-color: #161616;
$light-panel-input-background-color: #ffffff;
$light-panel-input-color: #333333;
$light-panel-button-background-color: #e0e0e0;
$light-panel-button-color: #121212;
$light-panel-button-border-color: #666666;

$dark-panel-background-color: #20211c;
$dark-panel-color: #999999;
$dark-panel-input-background-color: #2e2f28;
$dark-panel-input-color: #dadada;
$dark-panel-button-background-color: #121212;
$dark-panel-button-color: #dadada;
$dark-panel-button-border-color: #333333;
